body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#matrix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 80vh;
    width: 80vh;
    gap: 5px;
}

.square {
    background-color: #ddd;
    border: 1px solid #ccc;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
}