body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#canvas {
    width: 100vw;
    /* Full width of the viewport */
    height: 100vh;
    /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

#matrix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    width: 90vmin;
    /* 90% of the smallest side of the viewport */
    height: 90vmin;
    /* Same as width to maintain aspect ratio */
}

.square {
    background-color: #ddd;
    /* border: 1px solid #ccc; */
    width: 100%;
    /* Each square fills its cell */
    height: 100%;
    /* Each square fills its cell */
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
}